node_modules/
.next/
dist/
coverage/
.turbo/
.pnpm-store/
*.log
.env
.env.*
!.env.example
!.env.test.example
!.env.local.example
!.env.staging.example
!.env.production.example
!.env.*.example
.envrc

# Written by scripts/seed-ui-tenant.mjs: a throwaway tenant password, never committed.
.seed-credentials.local
secrets/
*.pem
*.key
*.p12
*.pfx
.DS_Store
*.tsbuildinfo
prisma/*.db
prisma/*.db-journal
apps/*/public/uploads/
.idea/
.vscode/settings.json
!.vscode/extensions.json
